*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
.settings/

.svn/

.DS_Store
bin/

gen/

build/

target/

.gradle/

.idea/
local.properties
.classpath

.project